<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>Hello Angular World</h1>
<p>{{ title }}</p>
<p><strong>{{ number-2 }}</strong></p>
<p><strong>{{ arr }}</strong></p>
<p><strong>{{ obj.b }}</strong></p>
<p><strong>{{ obj.b.c }}</strong></p>
<p><strong>{{ 2 + 3 }}</strong></p>
<p><strong>{{ 'Hello' + ' World' }}</strong></p>

<img src='{{ img }}' alt="" width="200px">
<img [src]='img' alt="" width="200px"><!--[] - односторонний binding- связываем html и ts - 
    более предпочтительна такая запись - 
    более оптимизирован такой подход -->
<!-- event binding - тот же односторонний, нго наоборот из html в ts-->

<hr>

<button (click) = 'onClick()'>Click me!</button>

<hr>

<p><strong>{{ 'Event input' }}</strong></p>
<input type="text" (input)="onInput($event)">

<hr>

<p><strong>Event keyup after click on enter or click outside the input field</strong></p>
<input 
    type="text" 
    (keyup.enter)="onInput($event)" 
    (blur)="onBlur(myInput.value)"
    #myInput
>
<!--мы можем что-то менять в html или ts и изменения будут 
    моментально отображаться и там, и там. До этого разбирали одностороннее 
    связывание, а сейчас разбираем как это работает в совокупности - 2 way data binding-->
<p><strong>{{ inputValue }}</strong></p>

<hr>
<app-post></app-post>
<!-- <app-post></app-post> -->
<hr>
<app-post4></app-post4>

<h2>----------------------------------10th video----------------------------------</h2>
<!--Первый тип байндинга-хотим забайндить значсение value - [value]-->
<!--Реализовали в одну сторону - хотим и в обратную - (событие)="метод"-->
<input type="text" [value]="title10thvideo" (input)="onInput2($event)"> 
<p><strong>{{ title10thvideo }}</strong></p>


<!--Директива ngModel - выполняет функцию связывания. 
    Двойные скобки - потому что двойное связывание.
Более удобная модель связывания. 
(Чтобы работало нужно импортировать FormsModule в app.module)-->
<input type="text" [(ngModel)]="title10thvideo2"> 
<p><strong>{{ title10thvideo2 }}</strong></p>

<h2>----------------------------------11th video----------------------------------</h2>
<!--Директивы - выпомогательные атрибуты, которые позволяют управлять 
    поведением различных html-элементов или других компонентов-->
<!--Байндим атрибут. Когда оборачиваем в [], 
    то значит есть возможность внутри значения атрибута писать js.
    ngStyle принимает объект.
    В директиве ngStyle можем прописывать некоторую динамику для того,
 чтобы задавать внутренние стили для компонентов-->
<button (click)="backgroundToggle = !backgroundToggle">Toggle</button>

<div [ngStyle]="{
    width: '200px',
    height: '200px',
    borderRadius: '5px',
    border: '3px solid yellow',
    background: backgroundToggle ? 'red' : 'blue'
}">

</div>